<div class="container__big-card">
    <div class="big-card__photo">
        <img 
        src="https://cdn.vectorstock.com/i/preview-1x/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg"
        alt=""
        height="100%"
        width="100%"
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, 
                provident nemo neque molestias voluptatum velit reprehenderit, magni at, nisi excepturi qui 
                veniam quo quae error est distinctio. Molestiae, minus voluptates!
            </a>
        </p>
    </div>
</div>